:root {
    --skillWidth: max(min(24%, 200px), 175px);
    --skillHeight: 40px;
    --my-blue: hsl(184, 63%, 80%);
}

html, body, main {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 30px;
}

#navbar-override {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 2;
}

nav div.navbar-nav {
    text-align: right;
}

/* .section {
    padding: 5% 20% 5% 20%;
} */

.section-inner {
    padding: 5% 0 5% 0;
    width: 80%;
    margin: auto;
}

#skills {
    padding: 0;
}

.section:hover {
    background:aliceblue
}


.about-card {
    margin: 2vh 10% 2vh 10%;
    background-color: var(--my-blue);
    display: flex;
    border-radius: 10px;
    width: min(100%, 700px);
  }
  
.my-card-img {
    max-height: 200px;
    align-self: flex-end;
    margin: 12.5% 0 12.5% 0;
    border-radius: 50%;
    height: 80%;
    transform: translateX(-50%); /* additional 50% of own height */
    box-shadow: 0 0 0 6px var(--my-blue);
    
}
.about-image-container {
    /* display: block; */
    height: 100%;
}
.about-image-container#top {
    display: none;
}

.about-text {
    /* display: block; */
    transform: translateX(-15%); /* additional 50% of own height */
    padding: 2vh;
}

.section-header {
    text-align: left;
    font-size: 20pt;
    margin: 1% 0 1% 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: var(--skillWidth) var(--skillWidth) var(--skillWidth) var(--skillWidth);
    /* grid-template-rows: 12% 12% 12% 12%; */
    gap: 10px;
}

skill {
    border-radius: 5px;
    border: 3px solid hsl(184, 63%, 64%, 40%);
    background-color: white;
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: var(--skillHeight);
    justify-content: space-between;
    vertical-align: center;
}

.skill-image {
    /* margin: 1px; */
    height: 100%;
}

skill p {
    vertical-align: middle;
    margin: auto;
}

@media screen and (max-width:900px) {
    .skills-grid {
        grid-template-columns: var(--skillWidth) var(--skillWidth) var(--skillWidth);
    }
    :root {
        --skillWidth: 33%;
    }
    .my-card-img {
        align-self:center;
        transform: translateY(-50%); /* additional 50% of own height */
        
        
    }
    .about-image-container {
        justify-content: center;
    }
    .about-image-container#top {
        position: relative; /* since some child is absolute */
        margin: 70px;
        display: block;
    }
    .about-image-container#bottom {
        display: false;
    }
      
    .my-card-img {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        width: 100px; height: 100px;
        transform: translateY(50%); /* additional 50% of own height */
        box-shadow: 0 0 0 6px var(--my-blue);
        
    }

    .about-card {
        margin: 0;
        display: block;
    }

    .about-text {
        transform: none;
        padding-top: 3vh;
    }
}